[submodule "mainui_3ds"]
	path = mainui_3ds
	url = https://github.com/selimnahimi/mainui_3ds.git
	branch = master

[submodule "picaGL"]
	path = picaGL
	url = https://github.com/selimnahimi/picaGL.git
	branch = master